<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appleId</key>
	<string>steve@rim.jobs</string>
	<key>artistId</key>
	<integer>296415947</integer>
	<key>artistName</key>
	<string>Twitter, Inc.</string>
	<key>bundleVersion</key>
	<string>3.3.6</string>
	<key>copyright</key>
	<string>© 2011 Twitter, Inc.</string>
	<key>drmVersionNumber</key>
	<integer>0</integer>
	<key>fileExtension</key>
	<string>.app</string>
	<key>genre</key>
	<string>Social Networking</string>
	<key>genreId</key>
	<integer>6005</integer>
	<key>itemId</key>
	<integer>333903271</integer>
	<key>itemName</key>
	<string>Twitter</string>
	<key>kind</key>
	<string>software</string>
	<key>playlistArtistName</key>
	<string>Twitter, Inc.</string>
	<key>playlistName</key>
	<string>Twitter</string>
	<key>purchaseDate</key>
	<date>2009-08-26T19:12:18Z</date>
	<key>rating</key>
	<dict>
		<key>content</key>
		<string></string>
		<key>label</key>
		<string>4+</string>
		<key>rank</key>
		<integer>100</integer>
		<key>system</key>
		<string>itunes-games</string>
	</dict>
	<key>releaseDate</key>
	<string>2009-10-09T19:50:00Z</string>
	<key>s</key>
	<integer>143444</integer>
	<key>softwareIcon57x57URL</key>
	<string>http://a1638.phobos.apple.com/eu/r1000/108/Purple/b0/e5/7c/mzi.djprbuqi.png</string>
	<key>softwareIconNeedsShine</key>
	<false/>
	<key>softwareSupportedDeviceIds</key>
	<array>
		<integer>1</integer>
	</array>
	<key>softwareVersionBundleId</key>
	<string>com.atebits.Tweetie2</string>
	<key>softwareVersionExternalIdentifier</key>
	<integer>4026915</integer>
	<key>softwareVersionExternalIdentifiers</key>
	<array>
		<integer>2011051</integer>
		<integer>2157141</integer>
		<integer>2433703</integer>
		<integer>2583165</integer>
		<integer>2640896</integer>
		<integer>2696111</integer>
		<integer>2843194</integer>
		<integer>2874165</integer>
		<integer>2945665</integer>
		<integer>2963928</integer>
		<integer>3080549</integer>
		<integer>3168153</integer>
		<integer>3336562</integer>
		<integer>3460938</integer>
		<integer>3491202</integer>
		<integer>3536021</integer>
		<integer>3577646</integer>
		<integer>3674372</integer>
		<integer>3765506</integer>
		<integer>4026915</integer>
	</array>
	<key>vendorId</key>
	<integer>9551</integer>
	<key>versionRestrictions</key>
	<integer>16843008</integer>
</dict>
</plist>
