Package: com.samstone.tweetlonger
Name: TweetLonger
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: Restores the ability of the official iOS Twitter client to expand Twitlonger links inline rather that opening a webView, wasting data and time loading ads, images, etc and displaying the tweet in a much messier fashion.
Maintainer: Sam Stone
Author: Sam Stone
Section: Tweaks
